

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @event.lng %>
</p>


<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @event.zone %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Items:</strong>
  <%= @event.items %>
</p>

<p>
  <strong>Month:</strong>
  <%= @event.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Year:</strong>
  <%= @event.year %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @event.hour %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @event.loss %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @event.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @event.age %>
</p>

<p>
  <strong>Report:</strong>
  <%= @event.report %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
